{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}
{% block titre %}Questions{% endblock %}

{% block body %}

    <div class="text-center">
        <br><a href="{{ path('createQuestion') }}" class="btn btn-primary m-1">Ajouter une question</a>
    </div>

    <div class="row">
        <div class="col-10 offset-1">

            <form method="post" action="{{ path('questionsSearch') }}">
                <fieldset>
                    <label class="black-text" for="attribut">Rechercher par :</label>
                    <select class="show" name="attribut" id="attribut" required>
                        <option disabled="true" selected="selected" value="">--Choisir le type de recherhce--</option>
                        <option value="theme">Thème</option>
                        <option value="difficulte">Difficulté</option>
                        <option value="id">ID</option>
                        <option value="enonce">Énoncé</option>
                    </select>

                    <p><input name="value" type="text" autocomplete="off" required>
                        <input type="submit" class="btn btn-outline-light" value="Chercher"></p>
                </fieldset>
            </form>

            <table class="table center table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Énoncé</th>
                    <th scope="col">Difficulté</th>
                    <th scope="col">Thème</th>
                    <th scope="col">Cours</th>
                    <th scope="col">Image</th>
                    <th scope="col">Réponse</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                        <tr class="table-dark">
                            <th scope="row" class="align-middle col-1">{{ question.id }}</th>
                            <td class="align-middle col-2">{{ question.enonce }}</td>
                            <td class="align-middle col-2">{{ question.difficulte }}</td>
                            <td class="align-middle col-2">{{ question.theme }}</td>
                            <td class="align-middle col-2">{{ question.cour.intitule }}</td>
                            <td class="align-middle col-1">{{ question.image }}</td>
                            <td class="align-middle col-3">
                                {% for reponse in reponses %}
                                    {% if reponse.question.id == question.id %}
                                        <div class="row">
                                            <a class="col-1" href="{{ path('deleteReponse', {'id': reponse.id}) }}"><img src="{{ asset('images/logo/trash.png') }}"  width="20" height="20" alt="delete"></a>
                                            <a class="col-10" href="{{ path('updateReponse', {'id': reponse.id}) }}"><p>- {{ reponse.reponse }}</p></a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <a class="center" href="{{ path('createReponse', {'id': question.id}) }}"><img src="{{ asset('images/logo/add.png') }}"  width="20" height="20" alt="add"></a>
                            </td>
                            <td class="align-middle col-xs4">
                                <a class="btn btn-outline-light" href="{{ path('updateQuestion', {'id': question.id}) }}">Éditer</a>
                                <a class="btn btn-outline-light" href="{{ path('deleteQuestion', {'id': question.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
