<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="{{ asset('images/logo/sardine.png') }}"  width="50" height="50" alt="logo"> &nbsp; &nbsp;

        <a class="navbar-brand" href="{{ path('index') }}">Workshop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse show" id="navbarColor02" style="">
            <ul class="navbar-nav me-auto">

                {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown">
               
                    <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Cours</a>
                    <div class="dropdown-menu " style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);" data-popper-placement="bottom-start">
                        <a class="dropdown-item" href="{{ path('cour') }}">Cours</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Tests</a>
                    <div class="dropdown-menu " style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);" data-popper-placement="bottom-start">
                        <a class="dropdown-item" href="{{ path('PageTest') }}">Tests</a>
                    </div>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{{ path('questions') }}">Questions</a>
                    </li>
                {% endif %}

            </ul>
                {% endif %}
            <ul class="navbar-nav ml-auto">
                {% if not app.user %}
                    <li>
                        <a class="nav-link" href="{{ path('inscription') }}">
                            Inscription
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" href="{{ path('login') }}">
                            Connexion
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                            <img src="{{ asset('images/users/' ~ app.user.image) }}" style="border-radius: 50%" width="40" height="40" alt="logo"> &nbsp; &nbsp;
                            {{ app.user.prenom }}  {{ app.user.nom }}
                        </a>
                        <div class="dropdown-menu" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 40px);" data-popper-placement="bottom-start">
                            <a class="nav-link" href="{{ path('profil') }}">
                                Profil
                            </a>
                            <a class="nav-link" href="{{ path('deconnexion') }}">
                                Logout
                            </a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>